<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Административная панель</title>
<link rel="stylesheet" href="/assets/default_style.css">
<link rel="icon" href="/icon.png">
<script src="/assets/navbar.js"></script>
</head>

<body>
	<!--CSRF Attack Protection (Getting from thymeleaf for JS)-->
	<input type="hidden" th:name="${_csrf.parameterName}"
		th:value="${_csrf.token}" />
	<div id="dashboard">
		<div id="content">
			<div class="card">
				<h3>Добро пожаловать!</h3>
				<p>Это ваша панель администратора. Здесь вы можете управлять
					вашим сайтом. Если вы хотите посмотреть статистику, перейдите в
					панель наблюдателя, нажав на кнопку ниже.</p>
				<a class="greenbtn" href="/observer">Перейти в панель
					наблюдателя</a>
			</div>
			<div class="card">
				<h3>Редактор конфигурации приложения</h3>
				<p>Отредактируйте конфигурацию приложения.</p>
				<a class="greenbtn" href="/admin/config">Перейти в редактор</a>
			</div>
			<div class="card" th:if="${show_log == true}">
				<h3>Просмотр лога</h3>
				<p>Просмотрите лог приложения.</p>
				<a class="greenbtn" href="/admin/log">Просмотреть</a>
			</div>
		</div>
	</div>
</body>

</html>