<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Список звеньев</title>
	<link rel="stylesheet" href="/assets/tablemgr.css">
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
</head>

<body>
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Название</th>
				<th>Командир</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="squad : ${squads}">
				<td th:text="${squad.squad_id}"></td>
				<td th:text="${squad.squadname}"></td>
				<td th:text="${squad.commander}"></td>
			</tr>
		</tbody>
	</table>
	<div class="bottomPanel">
		<button class="btn" onclick="addF();">Добавить</button>
		<button class="btn" onclick="deleteF();">Удалить</button>
		<button class="btn" onclick="editF();">Редактировать</button>
	</div>
</body>
<script>if (window.location.href.includes("deleted")) {
		Swal.fire({
			title: "УПЕХ: Звено удалено",
			text: "SquadID людей из этого звена заменены на 0.",
			icon: "success"
		});
	}
	if (window.location.href.includes("added")) {
		Swal.fire({
			title: "УСПЕХ: звено создано",
			text: "Не забудьте добавить в него ID командира позднее",
			icon: "success"
		});
	}
	if (window.location.href.includes("edited")) {
		Swal.fire({
			title: "УСПЕХ: звено отредактировано",
			text: "Значения были обновлены в базе данных",
			icon: "success"
		});
	}
	if (window.location.href.includes("error")) {
		Swal.fire({
			title: "Произошла ошибка!",
			text: "Попробуйте еще раз.",
			icon: "error"
		});
	}
	function addF() {
		Swal.fire({
			title: 'Введите ID командира',
			input: 'number',
			inputAttributes: {
				step: '1',
				min: '1'
			},
			showCancelButton: true,
			confirmButtonText: 'Создать звено',
			showLoaderOnConfirm: true,
			preConfirm: (number) => {
				if (!number || number % 1 !== 0) {
					Swal.showValidationMessage('ID - целое число!');
				}
			}
		}).then((result) => {
			if (result.value) {
				window.location.href = '/admin/squadmgr/add?id=' + encodeURIComponent(result.value);
			}
		});
	}
	function editF() {
		Swal.fire({
			title: 'Введите ID звена',
			input: 'number',
			inputAttributes: {
				step: '1',
				min: '1'
			},
			showCancelButton: true,
			confirmButtonText: 'Редактировать',
			showLoaderOnConfirm: true,
			preConfirm: (number) => {
				if (!number || number % 1 !== 0) {
					Swal.showValidationMessage('ID - целое число!');
				}
			}
		}).then((result) => {
			if (result.value) {
				window.location.href = '/admin/squadmgr/edit?id=' + encodeURIComponent(result.value);
			}
		});
	}
	function deleteF() {
		Swal.fire({
			title: 'Введите ID звена',
			input: 'number',
			inputAttributes: {
				step: '1',
				min: '1'
			},
			showCancelButton: true,
			confirmButtonText: 'Удалить',
			showLoaderOnConfirm: true,
			preConfirm: (number) => {
				if (!number || number % 1 !== 0) {
					Swal.showValidationMessage('ID - целое число!');
				}
			}
		}).then((result) => {
			if (result.value) {
				window.location.href = '/admin/squadmgr/delete?id=' + encodeURIComponent(result.value);
			}
		});
	}
</script>

</html>