<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Статистика</title>
<link rel="stylesheet" href="/assets/default_style.css">
<link rel="icon" href="/icon.png">
<script defer src="/assets/navbar.js"></script>
</head>

<body>
	<!--CSRF Attack Protection (Getting from thymeleaf for JS)-->
	<input type="hidden" th:name="${_csrf.parameterName}"
		th:value="${_csrf.token}" />
	<div id="dashboard">
		<div id="content">
			<h2>
				Звено, где командир <u th:text="commander"></u>:
			</h2>
			<div class="card">
				<h3>Статистика посещений события</h3>
				<p>Посмотрите, кто и сколько раз посетил выбранное событие в
					этом звене</p>
				<form method="get">
					<label for="event_name">Выберите событие:</label> <select
						id="event_name" name="event_name">
						<option th:each="event : ${events}" th:value="${event}"
							th:text="${event}"></option>
					</select>
					<button id="reportbtn" type="submit">Показать</button>
				</form>
			</div>
			<div class="card">
				<h3>Просмотр отметок по дате</h3>
				<p>Посмотрите посещения и пропуски в выбранную дату для этого
					звена</p>
				<form id="date-form" method="get" onsubmit="return submitForm()">
					<label for="date">Дата:</label> <input type="date" id="date"
						name="date" required> <br>
					<button type="submit">Посмотреть</button>
				</form>
			</div>
			<div class="card">
				<h3>Просмотр отметок в виде таблицы</h3>
				<p>Просмотрите всю статистику для этого звена в виде таблицы.</p>
				<button onclick="window.location.href=window.location+'/table'">Перейти</button>
			</div>
		</div>
	</div>
</body>
<script>
	function submitForm() {
		const form = document.getElementById('date-form');
		const dateInput = document.getElementById('date').value;
		const currentUrl = window.location.href;
		const newUrl = `${currentUrl}/date?${dateInput}`;
		form.action = newUrl;
		return true;
	}
	document.addEventListener("DOMContentLoaded", function() {
		var submitButton = document.getElementById("reportbtn");
		submitButton.setAttribute("formaction", window.location + "/report");
	});
</script>

</html>