<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Опубликовать новость</title>
	<link rel="stylesheet" href="/assets/formpage.css">
	<link rel="icon" href="/icon.png">
	<script src="/public_resources/sweetalert2.js"></script>
</head>

<body>
	<div id="navbar"></div>
	<form action="#" th:action="@{/observer/addnews}" th:object="${news}" method="post">
		<h1>Опубликовать новость</h1>
		<label>Заголовок:</label>
		<input type="text" th:field="*{title}"><br>

		<label>Текст:</label>
		<input type="text" th:field="*{content}"><br>

		<button type="submit">Создать</button>
	</form>
	<button type="button" onclick="window.location.href = '/observer'">Отмена</button>
</body>
<script src="/assets/formcheck.js"></script>

</html>