<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>Отметить группу ребят</title>
<link rel="stylesheet" href="/assets/default_style.css">
<link rel="stylesheet" href="/assets/markpage.css">
<link rel="icon" href="/icon.png">
<script src="/assets/navbar.js"></script>
<style>
input[type="text"], input[type="password"], input[type="date"], input[type="number"]
	{
	width: 100%;
	padding: 10px;
	margin: 5px 0;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
}
</style>
</head>

<body>
	<!--CSRF Attack Protection (Getting from thymeleaf for JS)-->
	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
	<input type="hidden" id="groupid" th:value="${group.id}" />
	<input type="hidden" id="groupname" th:value="${group.name}" />
	<div id="dashboard">
		<div id="content">
			<div class="card">
				<h3>
					Отметить ребят в группе <u th:text="${group.name}"></u>:
				</h3>
				<div class="card_2">
					<h4>
						<b>КАК ПРАВИЛЬНО ОТМЕТИТЬ???</b>
					</h4>
					<p>
						В форме ниже отметьте ребят, которые <strong>ПРИСУТСТВОВАЛИ</strong> на событии, остальным укажите причины
						отсутствия. Введите название события над таблицей и убедитесь, что указана правильная дата. После этого нажмите
						"Отправить".<br> <strong>Отправленные данные изменить нельзя!</strong>
					</p>
				</div>
				<form id="markForm">
					<label>Введите название события:</label> <input id="event_type" type="text" required /> <label>Выберите
						дату:</label> <input id="dateField" type="date" required /> <input type="text" id="searchInput"
						placeholder="Введите имя или фамилию для поиска..." onkeyup="filterTable()" />
					<table id="markTable">
						<thead>
							<tr>
								<th><input class="all-checkbox" type="checkbox" id="select_all_humans_checkbox" /></th>
								<th>Фамилия</th>
								<th>Имя</th>
								<th>Причина</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="human, iterStat : ${humansList}">
								<td><input class="custom-checkbox" type="checkbox" name="select" th:value="${human.id}"
									th:id="'checkbox-' + ${iterStat.index}" /></td>
								<td th:text="${human.lastname}">Фамилия</td>
								<td th:text="${human.name}">Имя</td>
								<td><select class="details-input" th:name="'details[' + ${human.id} + ']'"
									th:id="'details-' + ${iterStat.index}">
										<option th:each="entry : ${reasons}" th:value="${entry}" th:text="${entry}"></option>
								</select></td>
							</tr>
						</tbody>
					</table>
					<button type="button" onclick="submitData(send)">Отправить</button>
				</form>
			</div>
		</div>
	</div>
	<!--Search space-->
	<div style="height: 50vh"></div>
</body>
<script defer src="/onepage_scripts/observer_mark_group.js"></script>
</html>