<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Персональная статистика</title>
	<link rel="stylesheet" href="/assets/default_style.css">
	<link rel="icon" href="/icon.png">
	<script defer src="/assets/navbar.js"></script>
</head>

<body>
	<!--CSRF Attack Protection (Getting from thymeleaf for JS)-->
	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
	<div id="navbar"></div>
	<div id="dashboard">
		<div id="content">
			<h2>Стастистика для <span th:text="${person}"></span></h2>
			<div class="card">
				<h3>Пропуски и посещения</h3>
				<h4>Суммарная статистика:</h4>
				<p>Посещено <strong th:text="${attendance.getFirst()}"></strong> событий<br>Пропущено <strong
						th:text="${attendance.getSecond()}"></strong> событий</p>
				<h4>Статистика по событиям:</h4>
				<h5>Звено:</h5>
				<table>
					<thead>
						<tr>
							<th>Событие</th>
							<th>Посещений</th>
							<th>Пропусков</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="data : ${squadData}">
							<td th:text="${data.key}">Событие</td>
							<td th:text="${data.value.getFirst()}">Посещений</td>
							<td th:text="${data.value.getSecond()}">Пропусков</td>
						</tr>
					</tbody>
				</table>
				<h5>Остальное:</h5>
				<table>
					<thead>
						<tr>
							<th>Событие</th>
							<th>Посещений</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="data : ${commanderData}">
							<td th:text="${data.key}">Событие</td>
							<td th:text="${data.value}">Посещений</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="card">
				<h3>Причины пропусков</h3>
				<table>
					<thead>
						<tr>
							<th>Причина</th>
							<th>Количество пропусков</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="data : ${reasons_data}">
							<td th:text="${data.key}">-</td>
							<td th:text="${data.value}">-</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="card">
				<h3>Последние отметки посещений</h3>
				<p><strong>ВНИМАНИЕ:</strong> этот список ограничен 30 записями. Чтобы посмотреть все записи с
					сортировкой
					воспользуйтесь функцией
					"Просмотр персональной таблицы данных"</p>
				<table>
					<thead>
						<tr>
							<th>Дата</th>
							<th>Событие</th>
							<th>Посещено</th>
							<th>Причина пропуска</th>
							<th>Отметил</th>
							<th>EventID</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="stats : ${lastRecords}">
							<td th:text="${stats.date}">-</td>
							<td th:text="${stats.type}">-</td>
							<td th:text="${stats.isPresent}">-</td>
							<td th:text="${stats.reason}">-</td>
							<td th:text="${stats.user_role}">-</td>
							<td th:text="${stats.event_id}">-</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
<script src="/assets/stats_renamer.js"></script>

</html>