<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Статистика</title>
	<link rel="stylesheet" href="/observer/default.css">
	<link rel="stylesheet" href="/observer/data.css">
	<style type="text/css">
		input[type="text"],
		input[type="password"],
		input[type="date"],
		input[type="number"] {
			width: 100%;
			padding: 10px;
			margin: 5px 0;
			border: 1px solid #ccc;
			border-radius: 5px;
			box-sizing: border-box;
		}
	</style>
	<link rel="icon" href="/icon.png">
	<script src="/public_resources/sweetalert2.js"></script>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap">
</head>

<body>
	<!--CSRF Attack Protection (Getting from thymeleaf for JS)-->
	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
	<div id="navbar"></div>
	<div id="dashboard">
		<div id="content">
			<div class="card">
				<h3>Суммарная статистика</h3>
				<p>
					<b>Всего ребят:</b> <span th:text="${people_size}"></span><br>
					<b>Количество пропусков:</b> <span th:text="${people_missed}"></span><br>
					<b>Количество посещений:</b> <span th:text="${people_attended}"></span>
				</p>
			</div>
			<div class="card">
				<h3>Звеньевая статистика</h3>
				<p>Посмотрите статистику для конкретного звена, кликнув на кнопку "перейти"</p>
				<table>
					<thead>
						<tr>
							<th>Командир</th>
							<th>Название звена</th>
							<th>Ребят</th>
							<th> </th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="squad : ${squadList}">
							<td th:text="${squad.commanderName}"></td>
							<td th:text="${squad.squadName}"></td>
							<td th:text="${squad.humans.size()}"></td>
							<td>
								<button
									th:onclick="window.location.href='/observer/stats/squad/' + [[${squad.id}]];">Перейти
									к
									статистике</button>
							</td>
						</tr>


					</tbody>
				</table>
			</div>
			<div class="card">
				<h3>Просмотр отметок посещений по дате</h3>
				<p>Посмотрите посещения в выбранную дату.</p>
				<form id="date-form" action="/observer/stats/date">
					<label for="date">Дата:</label>
					<input type="date" id="date" name="date">
					<br>
					<button type="submit">Посмотреть</button>
				</form>
			</div>
			<div class="card">
				<h3>Просмотр персональной статистики</h3>
				<p>Посмотрите статистику для человека. Введите его ФИ в строку ниже и нажмите кнопку "найти"</p>
				<form th:action="@{/observer/stats/personal}" method="get">
					<input placeholder="Введите ФИ" name="name" type="text" />
					<button type="submit">Найти</button>
				</form>
			</div>
			<div class="card">
				<h3>Просмотр персональной таблицы данных</h3>
				<p>Посмотрите таблицу данных для человека. Введите его ФИ в строку ниже и нажмите кнопку "найти"</p>
				<form th:action="@{/observer/stats/personal/table}" method="get">
					<input placeholder="Введите ФИ" name="name" type="text" />
					<button type="submit">Найти</button>
				</form>
			</div>
		</div>
	</div>
</body>
<script src="/observer/navbar.js"></script>
<script src="/assets/messagesUtil.js"></script>

</html>