<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Список ребят</title>
	<link rel="stylesheet" href="/assets/tablemgr.css">
	<link rel="icon" href="/icon.png">
</head>

<body>
	<table id="userTable">
		<thead>
			<tr>
				<th>№<br><button onclick="sortTable(0)" class="sortbtn">Сортировать</button></th>
				<th>Фамилия<br><button onclick="sortTable(1)" class="sortbtn">Сортировать</button></th>
				<th>Имя<br><button onclick="sortTable(2)" class="sortbtn">Сортировать</button></th>
				<th>Отчество<br><button onclick="sortTable(3)" class="sortbtn">Сортировать</button></th>
				<th>ДР<br><button onclick="sortTable(4)" class="sortbtn">Сортировать</button></th>
				<th>Школа<br><button onclick="sortTable(5)" class="sortbtn">Сортировать</button></th>
				<th>Класс<br><button onclick="sortTable(6)" class="sortbtn">Сортировать</button></th>
				<th>Телефон<br><button onclick="sortTable(7)" class="sortbtn">Сортировать</button></th>
				<th>Звено<br><button onclick="sortTable(8)" class="sortbtn">Сортировать</button></th>
				<th>Командир<br><button onclick="sortTable(9)" class="sortbtn">Сортировать</button></th>
				<th>ID<br><button onclick="sortTable(10)" class="sortbtn">Сортировать</button></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="human, iterStat : ${humans}">
				<td th:text="${iterStat.index + 1}"></td>
				<td th:text="${human.lastname}"></td>
				<td th:text="${human.name}"></td>
				<td th:text="${human.surname}"></td>
				<td th:text="${human.birthday}"></td>
				<td th:text="${human.school}"></td>
				<td th:text="${human.classnum}"></td>
				<td th:text="${human.phone}"></td>
				<td th:text="${human.squad.squadName}"></td>
				<td th:text="${human.squad.commanderName}"></td>
				<td th:text="${human.id}"></td>
			</tr>
		</tbody>
	</table>
	<div class="bottomPanel">
		<button class="btn" onclick="window.history.back();">Вернуться</button>
	</div>
</body>
<script src="/assets/mgr.js"></script>

</html>