<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Статистика группы</title>
<link rel="stylesheet" href="/assets/default_style.css">
<link rel="icon" href="/icon.png">
<script defer src="/assets/navbar.js"></script>
</head>

<body>
	<!--CSRF Attack Protection (Getting from thymeleaf for JS)-->
	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
	<div id="dashboard">
		<div id="content">
			<h2 name="title">
				Статистика группы <u th:text="${group.name}"></u>:
			</h2>
			<div class="card">
				<h3>Список ребят из этой группы</h3>
				<p>В списке ниже представлена базовая информация о ребятах. Если вам нужно узнать всю контактную информацию о
					человеке, нажмите сверху кнопку "Список отряда" и найдите человека там. Чтобы получить статистический отчет о
					человеке, нажмите на кнопку "Перейти" в таблице ниже.</p>
				<details class="cardc">
					<summary>Нажмите, чтобы просмотреть</summary>
					<br>
					<table id="people">
						<thead>
							<tr>
								<th onclick="sortTable(0,'people')">Фамилия</th>
								<th onclick="sortTable(1,'people')">Имя</th>
								<th onclick="sortTable(2,'people')">Класс</th>
								<th onclick="sortTable(3,'people')">Информация</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="human : ${humans}">
								<td th:text="${human.lastname}"></td>
								<td th:text="${human.name}"></td>
								<td th:text="${human.classnum}"></td>
								<td>
									<form th:action="@{/observer/stats/personal_id}" method="get" style="display: inline;">
										<input type="hidden" name="id" th:value="${human.id}" />
										<button class="admin-button" type="submit">Перейти</button>
									</form>
							</td>
							</tr>
						</tbody>
					</table>
				</details>
			</div>
			<div class="card">
				<h3>Все события в группе</h3>
				<table>
					<thead>
						<tr>
							<th>Событие</th>
							<th>Просмотр</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="event : ${group_events}">
							<td th:text="${event}"></td>
							<td>
								<form th:action="@{/observer/stats/report}" method="get" style="display: inline;">
									<input type="hidden" name="event_name" th:value="${event}" />
									<button type="submit">Отметки</button>
								</form>
								<form th:action="@{/observer/stats/event_table}" method="get" style="display: inline;">
									<input type="hidden" name="event_name" th:value="${event}" />
									<button class="admin-button" type="submit">Таблица отметок</button>
								</form>
						</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="card">
				<h3>Просмотр отметок по дате</h3>
				<p>Посмотрите посещения и пропуски в выбранную дату в этой группе</p>
				<form method="get" th:action="@{/observer/stats/group/date}">
					<label for="date">Дата:</label> <input type="date" id="date" name="date" required /> <input type="hidden"
						name="groupname" th:value="${group.name}" /> <br>
					<button type="submit">Посмотреть</button>
				</form>
			</div>
			<div class="card">
				<h3>Просмотр отметок в виде таблицы</h3>
				<p>Просмотрите всю статистику для этого звена в виде таблицы.</p>
				<form method="get" th:action="@{/observer/stats/group/table}">
					<input type="hidden" id="date" name="groupname" th:value="${group.name}" />
					<button type="submit">Посмотреть</button>
				</form>
			</div>
		</div>
	</div>
</body>
<script src="/assets/sort_table.js"></script>
<script>
	document.getElementById("date").valueAsDate = new Date();
</script>
</html>