body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    padding-bottom: 60px;
}

#userTable {
    width: 100%;
    overflow-x: auto; /* Добавляем горизонтальную прокрутку */
    padding: 20px;
    box-sizing: border-box;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    table-layout: auto; /* Стандартное поведение таблицы */
}

th,
td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    white-space: nowrap; /* Сохраняет текст внутри ячеек в одну строку */
}

th {
    position: sticky;
    top: 0; /* Закрепляет заголовки таблицы */
    z-index: 2; /* Чтобы заголовки были поверх остальных ячеек */
}

thead {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

.bottomPanel {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}

.btn {
    margin: 0 10px;
    padding: 5px 10px;
    border: 1px solid #333;
    background-color: #fff;
    color: #333;
    cursor: pointer;
}

.btn:hover {
    background-color: #333;
    color: #fff;
}

/* Адаптивные стили для мобильных устройств */
@media (max-width: 600px) {
    th,
    td {
        padding: 8px;
    }

    .btn {
        padding: 4px 8px;
    }

    .table-container {
        padding: 10px;
    }
}
