<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Отметить ребят</title>
	<link rel="stylesheet" href="/squadcommander/default.css">
	<link rel="stylesheet" href="/squadcommander/data.css">
	<link rel="icon" href="/icon.png">
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap">
</head>

<body>
	<!--CSRF Attack Protection (Getting from thymeleaf for JS)-->
	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
	<div id="navbar"></div>
	<div id="dashboard">
		<div id="sidebar">
			<h2>Меню</h2>
			<ul>
			</ul>
		</div>
		<div id="content">
			<div class="card">
				<h3>Инструкция по использованию</h3>
				<p>В форме ниже отметьте ребят, которые <strong>ОТСУТСТВОВАЛИ</strong> на событии. Выберите тип
					статистики в селекторе
					под таблицей и нажмите "Отправить".<br><strong>Отправленные данные изменить нельзя!</strong></p>
			</div>
			<div class="card">
				<h3>Отметьте отсутствующих ребят:</h3>
				<form th:action="@{/squadcommander/mark}" method="post">
					<table>
						<thead>
							<tr>
								<th>Выбрать</th>
								<th>Имя</th>
								<th>Фамилия</th>
								<th>Причина</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="human, iterStat : ${humanList}">
								<td>
									<input class="custom-checkbox" type="checkbox" name="selectedIds"
										th:value="${human.id}" th:id="'checkbox-' + ${iterStat.index}" />
								</td>
								<td th:text="${human.name}">Имя</td>
								<td th:text="${human.lastname}">Фамилия</td>
								<td>
									<select class="details-input" th:name="'details[' + ${human.id} + ']'"
										th:disabled="disabled" th:id="'details-' + ${iterStat.index}">
										<option th:each="entry : ${reasons_for_absences_map}" th:value="${entry.key}"
											th:text="${entry.value}">
										</option>
									</select>
								</td>
							</tr>
						</tbody>
					</table>
					<label>Выберите тип статистики:</label>
					<select name="statsType" id="statsType">
						<option th:each="entry : ${event_types_map}" th:value="${entry.key}" th:text="${entry.value}">
						</option>
					</select>
					<button type="submit">Отправить</button>
				</form>
			</div>
			<div class="card">
				<h3>Просмотр отметок посещений по дате</h3>
				<p>Посмотрите посещения в выбранную дату.</p>
				<form id="date-form" action="/squadcommander/stats/date">
					<label for="date">Дата:</label>
					<input type="date" id="date" name="date">
					<br>
					<button type="submit">Посмотреть</button>
				</form>
			</div>
			<script>
				document.addEventListener('DOMContentLoaded', function () {
					const checkboxes = document.querySelectorAll('.custom-checkbox');

					checkboxes.forEach(checkbox => {
						checkbox.addEventListener('change', function () {
							const index = this.id.split('-')[1];
							const selectInput = document.getElementById('details-' + index);

							if (selectInput) {
								selectInput.disabled = !this.checked;
							}
						});
					});
				});
				document.querySelector('form').addEventListener('submit', function (event) {
					if (!isAnyCheckboxChecked()) {
						event.preventDefault();
						var selectElement = document.getElementById('statsType');
						var selectedValue = selectElement.value;
						window.location.href = '/squadcommander/mark_allhere?statsType=' + selectedValue;
					}
				});

				function isAnyCheckboxChecked() {
					const checkboxes = document.querySelectorAll('.custom-checkbox');
					for (let checkbox of checkboxes) {
						if (checkbox.checked) {
							return true;
						}
					}
					return false;
				}
			</script>
			<script src="/assets/messagesUtil.js"></script>
			<script src="/squadcommander/navbar.js"></script>
			<script src="/squadcommander/sidebar.js"></script>

</html>