<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Персональная статистика</title>
	<link rel="stylesheet" href="/squadcommander/default.css">
	<link rel="stylesheet" href="/squadcommander/data.css">
	<link rel="icon" href="/icon.png">
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom"></script>
	<script src="https://cdn.jsdelivr.net/npm/date-fns"></script>
	<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap">
</head>

<body>
	<!--CSRF Attack Protection (Getting from thymeleaf for JS)-->
	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
	<div id="navbar"></div>
	<div id="dashboard">
		<div id="sidebar">
			<h2>Меню</h2>
			<ul>
			</ul>
		</div>
		<div id="content">
			<h2><strong th:text="${name}"></strong>:</h2>
			<div class="card">
				<h3>Общая статистика по событиям:</h3>
				<canvas id="globalStats"></canvas>
			</div>
			<div class="card">
				<h3>Статистика посещений по датам:</h3>
				<canvas id="dateStats"></canvas>
				<p><strong>ВНИМАНИЕ: </strong> график показывает был человек в этот день хотябы на одном событии. Если
					событий несколько, то показаны они будут как одно.</p>
			</div>
		</div>
</body>
<script src="/squadcommander/navbar.js"></script>
<script src="/squadcommander/sidebar.js"></script>

<script th:inline="javascript">
	/*<![CDATA[*/
	var labels = /*[[${labels}]]*/[];
	var attendanceData = /*[[${attendanceData}]]*/[];
	var omissionsValues = /*[[${omissionsValues}]]*/[];
	var datesData = /*[[${datesData}]]*/[];
	console.log("Labels: ", labels);
	console.log("attendanceData: ", attendanceData);
	console.log("omissionsValues: ", omissionsValues);
	console.log("datesData: ", datesData);
	/*]]>*/
</script>
<script>
	// Преобразуем данные в формат, подходящий для Chart.js
	const labels1 = Object.keys(datesData);
	const dataValues = labels1.map(date => datesData[date] ? 1 : 0);
	console.log("datesData convert: ", dataValues);
	const ctx = document.getElementById('dateStats').getContext('2d');

	const myChart = new Chart(ctx, {
		type: 'line',
		data: {
			labels: labels1,
			datasets: [{
				label: 'Data',
				data: dataValues,
				borderColor: 'rgba(75, 192, 192, 1)',
				borderWidth: 1,
				fill: false
			}]
		},
		options: {
			scales: {
				x: {
					type: 'time',
					time: {
						tooltipFormat: 'dd.MM.yy',
						unit: 'day',
						parser: 'dd.MM.yy',
					},
					title: {
						display: true,
						text: 'Дата'
					}
				},
				y: {
					beginAtZero: true,
					title: {
						display: true,
						text: 'Был / Отсутствовал'
					}
				}
			},
			plugins: {
				zoom: {
					pan: {
						enabled: true,
						mode: 'xy'
					},
					zoom: {
						enabled: true,
						mode: 'xy'
					}
				}
			}
		}
	});
</script>
<script>
	document.addEventListener('DOMContentLoaded', (event) => {
		const ctx = document.getElementById('globalStats').getContext('2d');
		const radarChart = new Chart(ctx, {
			type: 'radar',
			data: {
				labels: ["Общие сборы", "Дежурства", "Прогулки", "Другое №1", "Другое №2"],
				datasets: [{
					label: 'Посещения',
					data: attendanceData,
					fill: true,
					backgroundColor: 'rgba(255, 99, 132, 0.2)',
					borderColor: 'rgb(255, 99, 132)',
					pointBackgroundColor: 'rgb(255, 99, 132)',
					pointBorderColor: '#fff',
					pointHoverBackgroundColor: '#fff',
					pointHoverBorderColor: 'rgb(255, 99, 132)'
				}, {
					label: 'Пропуски',
					data: omissionsValues,
					fill: true,
					backgroundColor: 'rgba(54, 162, 235, 0.2)',
					borderColor: 'rgb(54, 162, 235)',
					pointBackgroundColor: 'rgb(54, 162, 235)',
					pointBorderColor: '#fff',
					pointHoverBackgroundColor: '#fff',
					pointHoverBorderColor: 'rgb(54, 162, 235)'
				}]
			},
			options: {
				scales: {
					r: {
						beginAtZero: true,
						ticks: {
							callback: function (value) {
								// Отобразить только целые числа
								if (Number.isInteger(value)) {
									return value;
								}
							}
						}
					}
				}
			}
		});
	});
</script>

</html>