<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Статистика</title>
	<link rel="stylesheet" href="/assets/default_style.css">
	<link rel="icon" href="/icon.png">
	<script defer src="/assets/navbar.js"></script>
</head>

<body>
	<!--CSRF Attack Protection (Getting from thymeleaf for JS)-->
	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
	<div id="navbar"></div>
	<div id="dashboard">
		<div id="content">
			<div class="card">
				<h3>Просмотр отметок по дате</h3>
				<p>Посмотрите посещения и пропуски в выбранную дату.</p>
				<form id="date-form" action="/squadcommander/stats/date">
					<label for="date">Дата:</label>
					<input type="date" id="date" name="date" required>
					<br>
					<button type="submit">Посмотреть</button>
				</form>
			</div>
			<div class="card">
				<h3>Статистика посещений события</h3>
				<p>Посмотрите, кто и сколько раз посетил выбранное событие.</p>
				<form method="get" th:action="@{/squadcommander/stats/report}">
					<label for="event_name">Выберите событие:</label>
					<select id="event_name" name="event_name">
						<option th:each="event : ${events}" th:value="${event}" th:text="${event}">
						</option>
					</select>
					<button type="submit">Показать</button>
				</form>
			</div>
			<div class="card">
				<h3>Персональная статистика</h3>
				<p>Посмотрите подробную статистику для любого члена вашего звена.</p>
				<form th:action="@{/squadcommander/stats/personal}" method="get">
					<select name="id">
						<option th:each="human: ${humans}" th:value="${human.id}"
							th:text="${human.lastname} + ' ' + ${human.name}">
						</option>
					</select>
					<button type="submit">Посмотреть</button>
				</form>
			</div>
			<div class="card">
				<h3>Персональная статистика в виде таблицы</h3>
				<p>Посмотрите статистические записи в виде таблицы.</p>
				<form th:action="@{/squadcommander/stats/personal/table}" method="get">
					<select name="id">
						<option th:each="human: ${humans}" th:value="${human.id}"
							th:text="${human.lastname} + ' ' + ${human.name}">
						</option>
					</select>
					<button type="submit">Посмотреть</button>
				</form>
			</div>
			<div class="card">
				<h3>Просмотр всех отметок</h3>
				<p>Просмотрите все отметки, которые вы проставили за все время.</p>
				<a class="greenbtn" href="/squadcommander/stats/table">Перейти</a>
			</div>
		</div>
</body>

</html>