<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>добавить звено</title>
	<link rel="stylesheet" href="/assets/formpage.css">
	<link rel="icon" href="/icon.png">
</head>

<body>
	<form action="#" th:action="@{/admin/squadmgr/add}" th:object="${squadHelper}" method="post">
		<h1>Добавить звено</h1>
		<label>Название:</label>
		<input required type="text" th:field="*{squadName}">
		<label>ФИ Командира:</label>
		<input required type="text" th:field="*{commanderName}">
		<input type="hidden" th:field="*{commander_id}">
		<input type="hidden" th:field="*{id}">
		<button type="submit">Создать</button>
	</form>
	<button type="button" onclick="window.location.href = '/admin/squadmgr'">Отмена</button>
</body>

</html>