<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Отметить ребят</title>
	<link rel="stylesheet" href="/assets/default_style.css">
	<link rel="icon" href="/icon.png">
	<script defer src="/assets/navbar.js"></script>
	<script src="/public_resources/sweetalert2.js"></script>
	<style>
		input[type="text"],
		input[type="password"],
		input[type="date"],
		input[type="number"] {
			width: 100%;
			padding: 10px;
			margin: 5px 0;
			border: 1px solid #ccc;
			border-radius: 5px;
			box-sizing: border-box;
		}
	</style>
</head>

<body>
	<!--CSRF Attack Protection (Getting from thymeleaf for JS)-->
	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
	<div id="navbar"></div>
	<div id="dashboard">
		<div id="content">
			<div class="card">
				<h3>Добро пожаловать, <span th:text="${login}"></span>!</h3>
				<p>Это ваша панель командира. Снизу вы можете отметить ребят. Сверху вы можете посмотреть информацию о
					ребятах в разделе "Список отряда", а также посмотреть ваши отметки в разделе "Статистика"</p>
			</div>
			<div class="card">
				<h3>Отметьте ПРИСУТСТВОВАВШИХ ребят:</h3>
				<div class="card_2">
					<h4><b>КАК ПРАВИЛЬНО ОТМЕТИТЬ???</b></h4>
					<p>В форме ниже отметьте ребят, которые <strong>ПРИСУТСТВОВАЛИ</strong> на событии. Введите название
						события
						над таблицей и убедитесь, что указана правильная дата. После этого нажмите
						"Отправить".<br><strong>Отправленные данные изменить нельзя!</strong></p>
				</div>
				<form th:action="@{/commander/mark}" method="post" id="markForm">
					<label>Введите название события:</label>
					<input id="statsType" type="text" required />
					<label>Выберите дату:</label>
					<input id="dateField" type="date" required />
					<table id="markTable">
						<thead>
							<tr>
								<th>Выбрать</th>
								<th>Фамилия</th>
								<th>Имя</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="human, iterStat : ${humanList}">
								<td>
									<input class="custom-checkbox" type="checkbox" name="selectedIds"
										th:value="${human.id}" th:id="'checkbox-' + ${iterStat.index}" />
								</td>
								<td th:text="${human.lastname}">Фамилия</td>
								<td th:text="${human.name}">Имя</td>
							</tr>
						</tbody>
					</table>
					<button type="button" onclick="submitData()">Отправить</button>
				</form>
			</div>
			<script src="/onepage_scripts/commander_mark.js"></script>

</html>