<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Просмотр статистики</title>
<link rel="stylesheet" href="/assets/default_style.css">
<link rel="icon" href="/icon.png">
<script defer src="/assets/navbar.js"></script>
<script src="/public_resources/sweetalert2.js"></script>
<style>
input[type="text"], input[type="password"], input[type="date"], input[type="number"]
	{
	width: 100%;
	padding: 10px;
	margin: 5px 0;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
}

.container {
	display: flex;
	justify-content: space-between;
	border: 1px solid #ccc;
	border-style: none;
	padding: 10px;
}

.cardc {
	flex: 1;
	margin: 5px;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #ddd;
	background-color: rgb(249, 250, 251);
}
</style>
</head>

<body>
	<!--CSRF Attack Protection-->
	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
	<div id="navbar"></div>
	<div id="dashboard">
		<div id="content">
			<div class="card">
				<h3>Просмотр по событию</h3>
				<p>Посмотрите, кто и сколько раз посетил выбранное событие или таблицу отметок для этого события</p>
				<form method="get">
					<label for="event_name">Выберите событие:</label> <select id="event_name" name="event_name">
						<option th:each="event : ${events}" th:value="${event}" th:text="${event}"></option>
					</select>
					<button class="form-btn" type="submit" formaction="/commander/stats/report">Показать</button>
					<button class="form-btn" type="submit" formaction="/commander/stats/event_table">Посмотреть таблицу</button>
				</form>
			</div>
			<div class="card">
				<h3>Просмотр персональной статистики</h3>
				<p>Посмотрите информацию о человеке. Введите его ФИ в строку ниже и нажмите кнопку "найти"</p>
				<form method="get">
					<input placeholder="Введите ФИ" name="name" type="text" required />
					<!--<button class="form-btn" type="submit" formaction="/commander/stats/personal">Посмотреть</button>-->
					<button class="form-btn" type="submit" formaction="/commander/stats/personal/table">Посмотреть в виде
						таблицы</button>
				</form>
			</div>
			<div class="card">
				<h3>Просмотр отметок по дате</h3>
				<p>Показывает ваши отметки, которые вы выставляли в выбранную дату.</p>
				<form id="date-form" action="/commander/stats/date">
					<label for="date">Дата:</label> <input type="date" id="date" name="date" required> <br>
					<button type="submit">Посмотреть</button>
				</form>
			</div>
			<div class="card">
				<h3>Просмотр всех отметок</h3>
				<p>Показывает все ваши отметки за все время в виде таблицы</p>
				<a class="greenbtn" href="/commander/stats/alltable">Посмотреть</a>
			</div>
		</div>
	</div>
</body>
<script>
	document.getElementById("date").valueAsDate = new Date();
	if (window.location.href.includes("error_notfound")) {
		Swal.fire({
			title : "ОШИБКА!",
			text : "Обьект не найден в базе данных.",
			icon : "error"
		});
	}
</script>

</html>