<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Редактировать пользователя</title>
	<link rel="stylesheet" href="/assets/formpage.css">
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
</head>

<body>
	<div id="navbar"></div>
	<form action="#" th:action="@{/admin/usermgr/edit}" th:object="${user}" method="post">
		<h1>Создать пользователя</h1>
		<input type="hidden" th:field="*{id}"><br>
		<label>Логин:</label>
		<input type="text" th:field="*{login}"><br>

		<label>Пароль:</label>
		<input type="password" th:field="*{password}"><br>

		<label>Роль:</label>
		<input type="text" th:field="*{role}"><br>

		<label>Telegram:</label>
		<input type="text" th:field="*{telegram}"><br>

		<button type="submit">Обновить</button>
	</form>
	<button type="button" onclick="window.location.href = '/admin/usermgr'">Отмена</button>
</body>
<script src="/assets/formcheck.js"></script>
<script src="/admin/navbar.js"></script>
</html>