<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Редактировать человека</title>
	<link rel="stylesheet" href="/assets/formpage.css">
	<link rel="icon" href="/icon.png">
</head>

<body>
	<div id="navbar"></div>
	<form th:object="${humanHelper}" th:action="@{/admin/humanmgr/edit}" method="post">
		<h1>Редактировать человека:</h1>
		<input required type="hidden" th:field="*{id}" />
		<label for="name">Имя</label>
		<input required placeholder="Name" name="name" type="text" th:field="*{name}" />
		<label for="lastname">Фамилия</label>
		<input required placeholder="Lastname" name="lastname" type="text" th:field="*{lastname}" />
		<label for="surname">Отчество</label>
		<input required placeholder="Surname" name="surname" type="text" th:field="*{surname}" />
		<label for="birthday">День рождения</label>
		<input required placeholder="birthday" name="birthday" type="text" th:field="*{birthday}" />
		<label for="school">Школа</label>
		<input required placeholder="school" name="school" type="text" th:field="*{school}" />
		<label for="classnum">Класс</label>
		<input required placeholder="class number" name="classnum" type="number" th:field="*{classnum}" />
		<label for="phone">Телефон</label>
		<input required placeholder="Phone" name="phone" type="text" th:field="*{phone}" />
		<label for="squad">Звено(Лишний раз не трогать! Будут проблемы со статистикой!)</label>
		<input required placeholder="squad" name="squad" type="text" th:field="*{squad_id}" />
		<button type="submit">Обновить</button>
	</form>
	<button type="button" onclick="window.location.href = '/admin/humanmgr'">Отмена</button>
</body>

</html>