<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Список отряда</title>
	<link rel="stylesheet" href="/assets/tablemgr.css">
	<script src="/public_resources/sweetalert2.js"></script>
	<link rel="icon" href="/icon.png">
</head>

<body>
	<!--CSRF Attack Protection (Getting from thymeleaf for JS)-->
	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
	<div id="navbar"></div>
	<table id="userTable">
		<thead>
			<tr>
				<th onclick="sortTable(0)">ID</th>
				<th onclick="sortTable(1)">Фамилия</th>
				<th onclick="sortTable(2)">Имя</th>
				<th onclick="sortTable(3)">Отчество</th>
				<th onclick="sortTable(4)">Д. Р.</th>
				<th onclick="sortTable(5)">Школа</th>
				<th onclick="sortTable(6)">Класс</th>
				<th onclick="sortTable(7)">Телефон</th>
				<th onclick="sortTable(8)">Командир</th>
				<th onclick="sortTable(9)">Звено</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="human : ${humans}">
				<td th:text="${human.id}"></td>
				<td th:text="${human.lastname}"></td>
				<td th:text="${human.name}"></td>
				<td th:text="${human.surname}"></td>
				<td th:text="${human.birthday}"></td>
				<td th:text="${human.school}"></td>
				<td th:text="${human.classnum}"></td>
				<td th:text="${human.phone}"></td>
				<td th:text="${human.squad.commanderName}"></td>
				<td th:text="${human.squad.squadName}"></td>
			</tr>
		</tbody>
	</table>
	<div class="bottomPanel">
		<button class="btn" onclick="addHuman('/admin/humanmgr');">Добавить</button>
		<button class="btn" onclick="addList()">Массовое добавление</button>
		<button class="btn" onclick="editF('/admin/humanmgr');">Редактировать</button>
		<button class="btn" onclick="deleteF('/admin/humanmgr');">Удалить</button>
		<button class="btn" onclick="deleteAll();">Удалить ВСЕ</button>
	</div>
</body>
<script src="/assets/mgr.js"></script>
<script src="/admin/navbar.js"></script>
<script>
	function deleteAll() {
		Swal.fire({
		  title: "Опасная фунция!",
		  text: "Вручную введите url в браузере для удаления: /admin/humanmgr/deleteall",
		  icon: "info"
		});
	}

	function addList() {
		const csrfParam = document.querySelector('input[name="_csrf"]').getAttribute('name'); // Получаем название CSRF параметра
		const csrfToken = document.querySelector('input[name="_csrf"]').value; // Получаем значение CSRF токена

		Swal.fire({
			title: "Загрузите файл",
			icon: "info",
			showConfirmButton: false,
			showCancelButton: true,
			cancelButtonText: "Отмена",
			cancelButtonColor: "#d33",
			html: `
	        <p><strong>Эта функция добавляет новых людей</strong></p><br>
	        <p><b>Формат файла должен соответствовать шаблону:</b><br>squad_id;Фамилия;Имя;Отчество;Дата рождения;Школа;Класс;Номер телефона<br></p>
	        <br>
	        <form id="uploadForm" method="post" action="/admin/humanmgr/addlist" enctype="multipart/form-data">
	            <input type="hidden" name="${csrfParam}" value="${csrfToken}"><!-- CSRF токен -->
	            <input type="file" name="file" accept=".csv" required>
	            <button type="submit">Загрузить</button>
	        </form>
	        `,
			didRender: () => {
				document.getElementById("uploadForm").onsubmit = function (event) {
					// Прекращаем стандартное поведение, чтобы не было дополнительных обработчиков событий
					event.preventDefault();

					// Здесь можно добавить функции для обработки загрузки (например, AJAX) если нужно
					this.submit();
				};
			}
		});
	}

</script>

</html>